body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#wrapper {
    margin-bottom: 0;

}

/* NAV BAR */

nav {
    height: 80px;
    padding-right: 10px;
    /* margin-bottom: 5px; */
    background: black;
    display: grid;
    grid-template-columns: 60% 1fr;
}

/* NAV TEXT */
nav a {
    color: white;
    text-decoration: none;
    font-size: 26px;
}

/* LOGO */
.logo {
    text-align: left;
    display: flex;
    margin-left: 10px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    position: relative;
    top: -8%;
    max-width: 8%;
}

/* MENU RIGHT */
.menu1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Displays the menu horizontally */
.menu1 a {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.menu1 a:hover {
    opacity: 0.5;
}

.hamburger-menu {
    display: none;
    /*Hdden by default, will be shown on mobile*/
    align-items: center;
    justify-content: center;
}


/* INTRO BLOCK */
.intro {
    background: black;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    /* horizontal centering */
    align-items: center;
    /* vertical centering */
    text-align: center;
}

.intro p {
    margin: 0;
    color: white;
    font-size: 6rem;

    opacity: 0;
    transform: translateY(100px);

    animation: fadeSlideUp 1s ease-out forwards;
}

@keyframes fadeSlideUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}